:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #000;
  --secondary: #fff;
  --home-header-height: 5.4rem;

  /* Width Limiter */
  --max-width: 1200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
